html, body{
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    background-image: url("https://1.bp.blogspot.com/-7sprsFdLU6k/Xq45Mels1EI/AAAAAAAAkBo/yMn02SQP6dckMvoefrugRKhNdp5K-CplwCLcBGAsYHQ/s1600/Hinh-nen-dien-thoai-cute%2B%25281%2529.jpg");
}

.form-control{
    border-radius: 20px;
    margin-top: 0.3rem;
    opacity: 0.8;
}

.btn-submit{
    margin-top: 1.5rem;
    border-radius: 20px;
    width: 100%;
}

#content{
    position: absolute;
    bottom: 3rem;
    width: 92%;
}