html,body{
    margin: auto 0;
}

._img_game_board{
    max-width: 480px;
    width: 100%;
}

#board > ul > li{
    margin: 0;
    padding: 0;
}

#preview{
    height: 20vh;
}

#app{
    /*position: absolute; left: 50%;*/
    margin: auto;
    text-align: center;
    max-width: calc(80vh * 0.74);
}
#board{
    /*position: relative; left: -50%;*/
    /*max-width: 1440px;*/
}

#board > ul{
    display: flex;
    padding: 0;
    margin: 0  0 -4px 0;
    list-style-type: none;
}
