html, body {
    color: white; /* Sets the text color to white */
    background-color: black; /* Sets the background color to black */
    height: 100%;
    margin: 0; /* Ensures no default margin around the page */
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center; /* Centers the content horizontally */
}

@media screen and (orientation: portrait) {
    body {
        transform: rotate(-90deg);
    }
}

.loader-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(0deg, #FFFFFF 50%, #FF5C35 100%);
    animation: spin 1s linear infinite;
}

.inner-circle {
    width: 85%;
    height: 85%;
    background-color: black;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.content{
    display: none;
}
