.test{
    position: absolute;
    width: 100%;
}
.test > #audioPlayer{
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}
.recognition, .result{
    margin-bottom: 4px;
    overflow-y: auto;
    max-height: 300px;
    border: 1px red solid;
    padding: 10px;
    border-radius: 10px;
}
